@media (max-width: 1199px){
    .top-header-text, .top-header ul li{
        font-size: 10px;
        letter-spacing: -0.5px;
    }
    .language-item i{
        font-size: 10px;
    }
    .slick-prev{
        left: -50px;
    }
    .slider-content{
        padding-left: 10px;
    }
    .category-item p {
        font-size: 12px;
    }
    .foryou-wrap{
        background-position: center;
    }
    .foryou-content {
        margin-top: 0;
    }
    .product-item{
        padding: 10px 5px;
    }
    .blog-content-item{
        padding: 0 5px;
    }
    .blog-container{
        padding:10px 5px;
    }
    .input button {
        top:141px;
        font-size: 10px;
        padding: 15px 15px;
    }
    .input img{
        top: 154px;
    }
    .content-footer{
        padding-bottom: 0;
    }
    .copyright{
        padding: 30px 0;
    }
    .social-icon{
        justify-content: unset;
        flex-wrap: wrap;
        gap: 0 5px;
    }
    .social-icon i {
        margin-bottom: 10px;
    }
    .slick-next{
        left: 99%;
    }
}
@media (max-width: 991px) {
    .USD-list{
        width: 50px;
        padding: 10;
    }
    .nav-mobile{
        display: block;
    }
    .navbar-item{
        padding: 12px 25px;
        line-height: 1;
    }
    .navbar-item a i {
        padding: 10px 5px;
    }
    .navbar-item span {
        position: relative;
    }
    .navbar-item span i {
        line-height: 1;
        top: 4px;
    }
    .blog-menu2 {
        top: 0%;
        left: calc(100% + -34px);
        width: 153px
    }
    .language{
        display: none;
    }
    .line{
        display: none;
    }
    .slider-wrap {
        background-size: contain;
        background-position: right ;

    }
    .slick-prev{
        left: -39px;
    }
    .category-slide {
        padding: 0 5px;
    }
    .foryou-wrap{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
    }
    .baner-deal{
        background-position: center ;   
    }
    .blog-content-item:nth-child(3) .blog-content-item{
        padding: 5px;
    }
    .pd-8{
        padding-left: 8px ;
        padding-right: 8px ;
    }
    .input-email{
        padding-left: 30px;
    }
    .input button {
        padding: 15px 15px;
        top: 141px;
    }
    .input img{
        top: 154px;
        left: 36px;
    }
    .header-footer {
        padding-bottom: 25px;
    }
    .content-footer{
        padding-top: 30px;
    }
    .product-item{
        padding: 15px 10px;
    }
    .icon{
        margin-left: 5px;
    }

    /*  */
    .top-header-text,.top-header ul li {
        font-size: 9px;
    }
    .navbar-nav{
        position: absolute;
        top: 80%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: #FFF;
        border-top: 1px solid #95ae3c;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
        transition: linear 0.3s;
    }
    .navbar-list{
        display: unset;
        padding: 10px 0;
    }
    .nav-mobile {
        display: block;
    }

    .hover-homemenu, .hover-shopmenu, .hover-pagehome, .hover-bloghome{
        top: 100%;
        margin-left: 120px;
        width: 97%;
    }
    .hover-pagehome .pagehome-item{
        padding: 6px 0;
    }
    .pagehome-item:last-child,.bloghome-item:last-child{
        border: none;
    }
    .bloghome-item {
        padding: 10px 0;
        border-bottom: 1px solid #bdca8c;
    }
    .homemenu-item,.pagehome-item {
        border-bottom: 1px solid #bdca8c;
    }
    .homemenu-item:last-child {
        border: none;
        padding-bottom: 10px;
    }
    .navbar-item:first-child {
        padding: 0 25px;
    }
    .navbar-item:last-child {
        padding: 0 25px;
    }
    .navbar-item {
        margin: 5px 0;
        margin-right: 100px;
        
    }
    .navbar-item a{
        width: 50%;
    }
    .hover-homemenu {
        top: -17px;
        z-index: 5;  
        padding: 30px;
    }
    .hover-shopmenu{
        top: -39px;
    }
    .hover-pagehome{
        top: -85px;
        padding: 24px;
    }
    .hover-bloghome{    
        top: -133px;
        padding: 16px;
    }
    .blog-menu2{
        left: 73%;
        top: 0;
        border-top: 1px solid #95ae3c;
    }

    .category-item img{
        width: 60px;
        height: 60px;
    }
    .category-item p{
        font-size: 11px;
    }
    .col-tb{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        margin-bottom: 10px;
    }
    .blog-content-item{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .boder-right{
        border: none;
    }
    .col-tb-6{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
    }
    .col-full {
        flex: 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .input button {
        top: 101px;
        right: 33px;
    }
    .input img{
        top: 115px;
    }
    .Engl-USD{
        display: none;
    }
    .copyright-wrap p{
        font-size: 11px;
    }
    .slick-next {
        left: 96%;
    }
}

@media (max-width: 767px) {
    .top-header{
        height: 22px;
    }
    .top-header-text,.top-header ul li {
        font-size: 7px;
    }
    .spacing {
        padding: 5px 0;
    }
    .icon {
        width: 36px;
        height: 36px;
    }
    .navbar-nav{
        position: absolute;
        top: 80%;
        width: 94%;
        opacity: 0;
        visibility: hidden;
        background-color: #FFF;
        border-top: 1px solid #95ae3c;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
        transition: linear 0.3s;
    }
    .navbar-list{
        display: unset;
    }
    .nav-mobile {
        display: block;
        width: 36px;
        height: 36px;
        right: calc(-50% + 164px);
    }
    .navbar-item:first-child {
        padding: 0 25px;
    }
    .navbar-item:last-child {
        padding: 0 25px;
    }
    .navbar-item {
        margin: 5px 0;
        margin-right: 100px;
        
    }
    .navbar-item a{
        width: 50%;
    }
    .hover-homemenu {
        top: -16px;
        margin-left: 109px;
    }
    .hover-shopmenu{
        top: -39px;
    }
    .hover-pagehome{
        top: -85px;
        margin-left: 109px;
    }
    .hover-bloghome{    
        top: -132px;
        margin-left: 109px;

    }
    .blog-menu2{
        left: 71%;
        top: 0;
        border-top: 1px solid #95ae3c;
    }

    .category-item img{
        width: 60px;
        height: 60px;
    }
    .category-item p{
        font-size: 11px;
    }
    .category-slide {
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 10px;
    }
    .foryou-wrap {
        background-position: 232px;
    }
    .banner-img {
        margin-bottom: 10px;
    }
    .col-tb{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        margin-bottom: 10px;
    }
    .blog-content-item{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .boder-right{
        border: none;
    }
    .col-tb-6{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
    }
    .col-full {
        flex: 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .input button {
        top: 122px;
        right: 33px;
    }
    .input img{
        top: 135px;
    }
    .Engl-USD{
        display: none;
    }
    .copyright-wrap p{
        font-size: 11px;
    }
    .copyright-wrap {
            display: unset;
            text-align: center;
    }
    .copyright-icon{
        display: unset;
    }
    .copyright-icon-list ul{
        display: flex;
        justify-content: center;
    }
    .slick-next {
        left: 82%;
    }
}

@media only screen and (max-device-width: 479px) {
    
    .top-header{
        height: 30px;
    }
    .mb-none {
        display: none;
    }
    .language{
        display: none;
    }
    .language-item i{
        font-size: 10px;
    }
    .top-header ul {
        justify-content: center;
    }
    .logo img{
        width: 80px;
        height: 35px;
    }
    .icon{
        width: 36px;
        height: 36px;
        font-size: 15px;
    }
    .action-links {
        right: 3px;
    }
    .action-links .icon {
        margin-bottom: 10px;
    }
    .nav-icon{
        margin-right: 8px;
    }
    .nav-mobile{
        width: 36px;
        height: 36px;
        font-size: 17px;
        right: calc(-50% + 148px);
    }
    .content-search{
        height: 188px;
    }
    .content-search input,
    .search-history{
        width: 350px;
        border: 1px solid #79819C;
    }

    .slider-content h1 {
        font-size: 50px;
        line-height: 1;
    }
    .slider-content .tagline {
        margin-bottom: 20px;
    }
    .slider-content{
        padding: 50px 20px;
    }
    .form{
        width: 350px;
    }
    .category-slide{
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 10px;
    }
    .slick-next{
        left: 90%;
    }
    .spacing{
        padding-left: 15px;
    }
    .blog-menu2 {
        left: 47%;
    }
    .margin-left{
        margin-left: 0 auto;
    }
    .banner-deal-wrap {
        left: 50%;
        width: 350px;
        padding-left: 20px;
        top: 50%;
    }
    .deal-content{
        width: 300px;
    }
    .blog-content-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .product-item h4 {
        font-size: 11px;
    }
    .foryou-wrap{
        background-position: 182px 84%;
    }
    .foryou-content{
        margin-top: 70px;
    }
    .banner{
        margin-top: 100px;
        
    }
    .banner-img{
        margin-bottom: 20px;
    }
    .item-list{
        flex-wrap: wrap;
    }
    .col-tb{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .deal-button button{
        width: 35%;
    }
    .baner-deal {
        background-position: right;
    }
    .input button{
        top: 121px;
    }
    .input img {
        top: 134px;
    }
    .copyright-wrap{
        display: unset;
        text-align: center;
    }
    .copyright-icon{
        justify-content: center;
    }
    .blog-container {
        padding: 15px;
    }
    .navbar-item:first-child {
        padding: 10px 25px;
    }
    .hover-homemenu, .hover-shopmenu, .hover-pagehome, .hover-bloghome{
        display: none;
        position: unset;
        margin: 0;
        visibility: initial;
        padding: 10px;
        width: 100%;
        border: none;
        box-shadow: none;
    }
    .navbar-item:hover ul{
        display: block;
    }
    .homemenu-item{
        padding: 11px 0;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .shopmenu-item li h5{
        color: #2D2A6E;
        margin: 0;
        padding-bottom: 15px;
        line-height: 1px;
        padding-top: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
    }
    .shopmenu-item li a{
        display: none;
    }
    .shopmenu-item li:hover h5 {
        padding-left: 10px;
        color: #95ae3c;
        transition: linear 0.3s;
    }
    .pd-bt0{
        padding-bottom: 0 !important; 
    }
    .shopmenu-item {
        margin: 0;
    }
    .img-shopmenu{
        display: none;
    }
    .hover-homemenu::after, .hover-shopmenu::after, .hover-pagehome::after, .hover-bloghome::after{
        display: none;
    }
    .navbar-item{
        margin: 0;
    }
    .navbar-item span{
        padding: 5px 0;
    }
    .navbar-item span i {
        top: 9px;
    }
    .pagehome-item a{
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
        display: block;
        margin: 0;
        width: 100%;
    }
    .blog-menu1 i,.blog-menu2 {
        display: none;
    }
    .bloghome-item:nth-child(1):after{
        display: none;
    }
    .bloghome-item {
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
    }
    .navmb-close{
        z-index: 9;
    }
    .social-icon {
        justify-content: space-between;
        margin-top: 10px;
    }
    .header-footer-wrap{
        display: flex;
        overflow-x: auto;
        flex-wrap: unset;
    }
    .col-mb{
        padding: 0 5px;
    }
    .login-input{
        margin: 0;
    }
     .slick-prev {
         display: none !important;
     }
     .slick-next {
         display: none !important;
     }
     .form-header button{
         padding: 10px 20px;
     }
     .form-login input, .form-register input{
         padding: 10px 0;
         padding-left: 40px;
     }
     .button-login {
         margin: 0;
     }
     .login-footer p {
         font-size: 11px;
     }
     .button-login button {
        margin: 5px 0;
    }
    .button-login button:last-child::after {
        top: -82%
    }
    .check-login{
        margin-top: 10px;
    }
    .button-login button:first-child{
        margin-top: 10px;
    }
    .login-input p {
        margin: 4px;
        line-height: 26px;
    }
     .form-register input {
        padding: 5px 0;
        padding-left: 40px;
    }
    .button-login button{
        padding: 12px 0;
    }
    .form {
        padding-bottom: 0;
    }

} 